# By: Thomas Isola
## Class: PUI 2018
## HW #5 Assignment 2

In [1]:
SQL_SOURCE = 'https://fb55.carto.com/api/v2/sql?q='

import urllib2
import urllib
import StringIO
import ast
import pandas as pd

def queryCartoDB(query, format='CSV', source=SQL_SOURCE):
    '''queries carto datasets from a given carto account
    Arguments: 
    query - string: a valid sql query string
    format - outlut format  OPTIONAL (default CSV)
    source - a valid sql api endpoint OPTIONAL (default carto fb55 account)
    Returns:
    the return of the sql query AS A STRING
    NOTES:
    designed for the carto API, tested only with CSV return format'''
    
    data = urllib.urlencode({'format': format, 'q': query})
    try:
        response = urllib2.urlopen(source, data)
    except urllib2.HTTPError, e:
        raise ValueError('\n'.join(ast.literal_eval(e.readline())['error']))
    except Exception:
        raise
    return response.read()

# Task 1

In [2]:
task1A = '''
SELECT start_station_id, tripduration FROM citibike
WHERE tripduration<=10800
ORDER BY tripduration, start_station_id
'''

In [3]:
table1A = pd.read_csv(StringIO.StringIO(queryCartoDB(task1A)), sep=',')
# Show the top 10 records
table1A.head(10)

   start_station_id  tripduration
0               248            60
1               251            60
2               296            60
3               317            60
4               379            60
5               393            60
6               445            60
7               470            60
8               471            60
9               474            60

In [4]:
# Show the last 10 records
table1A.tail(10)

       start_station_id  tripduration
46141               324          9373
46142               499          9556
46143               402          9572
46144               457          9711
46145               435          9807
46146               468          9938
46147               386          9969
46148               405         10174
46149               512         10660
46150               284         10757

In [5]:
# List all unique start_station_id values with count, average, min, and max trip duration
task1B = '''
SELECT start_station_id, COUNT(tripduration), AVG(tripduration), MIN(tripduration), MAX(tripduration) FROM citibike
GROUP BY start_station_id
ORDER BY start_station_id ASC
'''
table1B = pd.read_csv(StringIO.StringIO(queryCartoDB(task1B)), sep=',')
table1B

     start_station_id  count          avg  min    max
0                  72    114   742.701754  107   2099
1                  79     71   659.140845  149   1916
2                  82     49   445.346939  138   1581
3                  83     36  1696.555556   73  33647
4                 116    288   543.965278   66   2081
5                 119     19  1044.789474  278   2167
6                 120     17   979.882353  270   2131
7                 127    209   710.846890   83   5776
8                 128    247   664.206478   62   2875
9                 137     97   825.804124   85  13156
10                143     29   779.931034  116   2516
11                144      7   443.714286  238    731
12                146    101   639.336634   68   2809
13                147    200   626.510000  104   1996
14                150    111   648.873874   88   2906
15                151    288   597.163194   65   5968
16                152     71   843.830986  115  15251
17                153    298   569.798658   73   2128
18                157     45   741.955556  118   3201
19                160    138   585.028986   98   3090
20                161    203   754.463054   62  17307
21                164    130   796.115385  143   3063
22                167    254   702.118110   68  23588
23                168    327   627.486239   70   5321
24                173    213   624.056338   66  15636
25                174    209   817.674641   74  20515
26                195    137   851.839416   86  42784
27                212    186   633.586022   96   2191
28                216     12   984.666667  250   2642
29                217     14   596.714286   97   1814
..                ...    ...          ...  ...    ...
297               525     53   640.245283  188   2028
298               526    213   574.666667   77   2056
299               527    319   687.617555   62   5090
300               528    302   660.039735   75   2720
301               529    221   663.968326   71   5094
302               530    120   871.475000  239   3009
303               531    212   696.693396   61   3033
304               532     50  1076.600000  198   2167
305               533    196   619.862245   64   6387
306               534     70   750.842857   65   3498
307               537    372   661.569892   66   5949
308               538    153   579.908497  173   2535
309               539     54   905.444444  198   2685
310               545    229   724.860262   76   2813
311               546    227   568.158590   70   1935
312              2000     50   746.800000  124   2057
313              2001      4   513.000000  184   1217
314              2002     45  1116.711111   77   2426
315              2004    112   765.848214  203   6204
316              2005      7  1130.285714  545   2513
317              2006     79  1130.531646   90   3459
318              2008     86   832.220930   94   3476
319              2009    107   777.794393   60   2765
320              2010     76   763.184211  167   2610
321              2012    256   714.519531   79   2026
322              2017     86   763.383721  109   2476
323              2021    141   738.815603   90   6592
324              2022     96   979.062500  107   2495
325              2023     91   771.978022  108   2454
326              3002    184   714.646739   79   7225

[327 rows x 5 columns]

In [6]:
# List overall count, average, min, and max trip duration
task1C = '''
SELECT COUNT(tripduration), AVG(tripduration), MIN(tripduration), MAX(tripduration) FROM citibike
'''
table1C = pd.read_csv(StringIO.StringIO(queryCartoDB(task1C)), sep=',')
table1C

   count         avg  min    max
0  46200  675.865823   60  43016

# Task 2 - Working with date/time

In [7]:
# Trips that started on Feb-02-2015 only
task2A = '''
SELECT * FROM citibike
WHERE starttime BETWEEN '2/2/2015 00:00:00.00' AND '2/2/2015 23:59:59.999'
ORDER BY starttime
'''
table2A = pd.read_csv(StringIO.StringIO(queryCartoDB(task2A)), sep=',')
table2A

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,W 27 St & 7 Ave,NaN,6510,-73.993915,199,2015-02-02 00:02:00+00,2015-02-02 00:05:00+00,442,6442,40.746647,489,10 Ave & W 28 St,40.750664,-74.001768,20684,Subscriber,1992.0,1
1,NaN,E 11 St & 1 Ave,NaN,6511,-73.984267,418,2015-02-02 00:03:00+00,2015-02-02 00:10:00+00,326,6443,40.729538,349,Rivington St & Ridge St,40.718502,-73.983299,16094,Subscriber,1964.0,2
2,NaN,Peck Slip & Front St,NaN,6512,-74.001670,276,2015-02-02 00:04:00+00,2015-02-02 00:09:00+00,279,6444,40.707873,415,Pearl St & Hanover Square,40.704718,-74.009260,17362,Subscriber,1974.0,1
3,NaN,E 16 St & 5 Ave,NaN,6513,-73.992390,420,2015-02-02 00:06:00+00,2015-02-02 00:13:00+00,496,6445,40.737262,237,E 11 St & 2 Ave,40.730473,-73.986724,15475,Subscriber,1992.0,2
4,NaN,W 41 St & 8 Ave,NaN,6514,-73.990026,304,2015-02-02 00:07:00+00,2015-02-02 00:12:00+00,477,6446,40.756405,450,W 49 St & 8 Ave,40.762272,-73.987882,16272,Subscriber,1968.0,1
5,NaN,Dean St & 4 Ave,NaN,6515,-73.978951,622,2015-02-02 00:08:00+00,2015-02-02 00:18:00+00,467,6447,40.683125,391,Clark St & Henry St,40.697601,-73.993446,16370,Subscriber,1979.0,1
6,NaN,9 Ave & W 18 St,NaN,6516,-74.003664,371,2015-02-02 00:09:00+00,2015-02-02 00:15:00+00,434,6448,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,19437,Subscriber,1963.0,1
7,NaN,Reade St & Broadway,NaN,6517,-74.005628,477,2015-02-02 00:11:00+00,2015-02-02 00:19:00+00,330,6449,40.714505,2008,Little West St & 1 Pl,40.705693,-74.016777,21211,Subscriber,1982.0,1
8,NaN,1 Ave & E 15 St,NaN,6519,-73.981656,599,2015-02-02 00:12:00+00,2015-02-02 00:22:00+00,504,6451,40.732219,453,W 22 St & 8 Ave,40.744751,-73.999154,15722,Subscriber,1956.0,1
9,NaN,Broadway & E 14 St,NaN,6520,-73.990741,345,2015-02-02 00:12:00+00,2015-02-02 00:18:00+00,285,6452,40.734546,236,St Marks Pl & 2 Ave,40.728419,-73.987140,18972,Subscriber,1962.0,1
10,NaN,8 Ave & W 31 St,NaN,6518,-73.994811,743,2015-02-02 00:12:00+00,2015-02-02 00:25:00+00,521,6450,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,21417,Subscriber,1978.0,2
11,NaN,E 2 St & Avenue B,NaN,6521,-73.983688,721,2015-02-02 00:13:00+00,2015-02-02 00:25:00+00,301,6453,40.722174,476,E 31 St & 3 Ave,40.743943,-73.979661,19628,Subscriber,1980.0,1
12,NaN,Peck Slip & Front St,NaN,6522,-74.001670,182,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,279,6454,40.707873,376,John St & William St,40.708621,-74.007222,15169,Subscriber,1978.0,1
13,NaN,Columbia St & Rivington St,NaN,6523,-73.980166,154,2015-02-02 00:13:00+00,2015-02-02 00:16:00+00,342,6455,40.717400,411,E 6 St & Avenue D,40.722281,-73.976687,17533,Subscriber,1997.0,1
14,NaN,W 20 St & 8 Ave,NaN,6524,-74.000040,435,2015-02-02 00:14:00+00,2015-02-02 00:21:00+00,470,6456,40.743453,491,E 24 St & Park Ave S,40.740964,-73.986022,19761,Subscriber,1983.0,1
15,NaN,St Marks Pl & 2 Ave,NaN,6525,-73.987140,310,2015-02-02 00:15:00+00,2015-02-02 00:20:00+00,236,6457,40.728419,393,E 5 St & Avenue C,40.722992,-73.979955,17267,Subscriber,1993.0,1
16,NaN,W 20 St & 8 Ave,NaN,6526,-74.000040,1274,2015-02-02 00:16:00+00,2015-02-02 00:37:00+00,470,6458,40.743453,470,W 20 St & 8 Ave,40.743453,-74.000040,18691,Subscriber,1964.0,1
17,NaN,W 37 St & 5 Ave,NaN,6527,-73.983390,642,2015-02-02 00:18:00+00,2015-02-02 00:29:00+00,485,6459,40.750380,174,E 25 St & 1 Ave,40.738177,-73.977387,17106,Subscriber,1977.0,1
18,NaN,W 13 St & 6 Ave,NaN,6528,-73.997044,256,2015-02-02 00:18:00+00,2015-02-02 00:22:00+00,345,6460,40.736494,483,E 12 St & 3 Ave,40.732233,-73.988900,20009,Subscriber,1973.0,1
19,NaN,10 Ave & W 28 St,NaN,6529,-74.001768,334,2015-02-02 00:19:00+00,2015-02-02 00:25:00+00,489,6461,40.750664,442,W 27 St & 7 Ave,40.746647,-73.993915,18777,Subscriber,1979.0,1
20,NaN,E 25 St & 2 Ave,NaN,6530,-73.979738,90,2015-02-02 00:19:00+00,2015-02-02 00:20:00+00,507,6462,40.739126,174,E 25 St & 1 Ave,40.738177,-73.977387,15357,Subscriber,1989.0,1
21,NaN,W 4 St & 7 Ave S,NaN,6531,-74.002939,203,2015-02-02 00:20:00+00,2015-02-02 00:23:00+00,380,6463,40.734011,405,Washington St & Gansevoort St,40.739323,-74.008119,18487,Subscriber,1983.0,1
22,NaN,W 20 St & 7 Ave,NaN,6532,-73.997262,649,2015-02-02 00:22:00+00,2015-02-02 00:32:00+00,334,6464,40.742388,439,E 4 St & 2 Ave,40.726281,-73.989780,20863,Subscriber,1981.0,1
23,NaN,W 46 St & 11 Ave,NaN,6533,-73.996674,319,2015-02-02 00:23:00+00,2015-02-02 00:29:00+00,508,6465,40.763414,448,W 37 St & 10 Ave,40.756604,-73.997901,16539,Subscriber,1970.0,1
24,NaN,E 3 St & 1 Ave,NaN,6534,-73.987834,154,2015-02-02 00:27:00+00,2015-02-02 00:30:00+00,428,6466,40.724677,301,E 2 St & Avenue B,40.722174,-73.983688,18737,Subscriber,1961.0,1
25,NaN,Pike St & Monroe St,NaN,6535,-73.991930,550,2015-02-02 00:28:00+00,2015-02-02 00:37:00+00,331,6467,40.711731,195,Liberty St & Broadway,40.709056,-74.010434,17797,Subscriber,1980.0,2
26,NaN,W 42 St & 8 Ave,NaN,6536,-73.990985,268,2015-02-02 00:29:00+00,2015-02-02 00:34:00+00,529,6468,40.757570,478,11 Ave & W 41 St,40.760301,-73.998842,20638,Subscriber,1990.0,1
27,NaN,Clermont Ave & Park Ave,NaN,6537,-73.971297,153,2015-02-02 00:29:00+00,2015-02-02 00:31:00+00,421,6469,40.695734,366,Clinton Ave & Myrtle Ave,40.693261,-73.968896,17636,Subscriber,1989.0,1
28,NaN,Greenwich Ave & 8 Ave,NaN,6538,-74.002638,309,2015-02-02 00:31:00+00,2015-02-02 00:36:00+00,284,6470,40.739017,494,W 26 St & 8 Ave,40.747348,-73.997236,18472,Subscriber,1982.0,1
29,NaN,Greenwich Ave & Charles St,NaN,6539,-74.000271,138,2015-02-02 00:33:00+00,2015-02-02 00:35:00+00,383,6471,40.735238,252,MacDougal St & Washington Sq,40.732264,-73.998522,17456,Subscriber,1968.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1429,NaN,Allen St & E Houston St,NaN,7938,-73.989111,722,2015-02-02 23:08:00+00,2015-02-02 23:20:00+00,312,7871,40.722055,380,W 4 St & 7 Ave S,40.734011,-74.002939,20572,Subscriber,1985.0,1
1430,NaN,Broadway & W 29 St,NaN,7939,-73.988557,274,2015-02-02 23:08:00+00,2015-02-02 23:12:00+00,486,7872,40.746201,491,E 24 St & Park Ave S,40.740964,-73.986022,20338,Subscriber,1981.0,1
1431,NaN,W 56 St & 6 Ave,NaN,7940,-73.977225,951,2015-02-02 23:11:00+00,2015-02-02 23:27:00+00,352,7873,40.763406,515,W 43 St & 10 Ave,40.760094,-73.994618,15826,Subscriber,1978.0,1
1432,NaN,10 Ave & W 28 St,NaN,7941,-74.001768,276,2015-02-02 23:16:00+00,2015-02-02 23:20:00+00,489,7874,40.750664,521,8 Ave & W 31 St,40.750450,-73.994811,18325,Subscriber,1990.0,1
1433,NaN,W 26 St & 8 Ave,NaN,7942,-73.997236,426,2015-02-02 23:17:00+00,2015-02-02 23:24:00+00,494,7875,40.747348,434,9 Ave & W 18 St,40.743174,-74.003664,16654,Subscriber,1977.0,1
1434,NaN,Broadway & E 22 St,NaN,7943,-73.989551,578,2015-02-02 23:19:00+00,2015-02-02 23:28:00+00,402,7876,40.740343,229,Great Jones St,40.727434,-73.993790,20902,Subscriber,1966.0,1
1435,NaN,E 47 St & 2 Ave,NaN,7944,-73.970325,2621,2015-02-02 23:22:00+00,2015-02-03 00:06:00+00,164,7877,40.753231,2017,E 43 St & 2 Ave,40.750224,-73.971214,20796,Subscriber,1954.0,1
1436,NaN,Broadway & W 32 St,NaN,7945,-73.988084,621,2015-02-02 23:22:00+00,2015-02-02 23:32:00+00,498,7878,40.748549,449,W 52 St & 9 Ave,40.764618,-73.987895,20160,Subscriber,1989.0,1
1437,NaN,8 Ave & W 31 St,NaN,7946,-73.994811,323,2015-02-02 23:23:00+00,2015-02-02 23:29:00+00,521,7879,40.750450,477,W 41 St & 8 Ave,40.756405,-73.990026,17392,Subscriber,1974.0,1
1438,NaN,9 Ave & W 18 St,NaN,7947,-74.003664,393,2015-02-02 23:24:00+00,2015-02-02 23:31:00+00,434,7880,40.743174,482,W 15 St & 7 Ave,40.739355,-73.999318,17263,Subscriber,1963.0,1
1439,NaN,LaGuardia Pl & W 3 St,NaN,7948,-73.998102,597,2015-02-02 23:25:00+00,2015-02-02 23:35:00+00,161,7881,40.729170,497,E 17 St & Broadway,40.737050,-73.990093,19858,Subscriber,1955.0,1
1440,NaN,W 26 St & 8 Ave,NaN,7949,-73.997236,244,2015-02-02 23:25:00+00,2015-02-02 23:30:00+00,494,7882,40.747348,462,W 22 St & 10 Ave,40.746920,-74.004519,20319,Subscriber,1979.0,1
1441,NaN,Cliff St & Fulton St,NaN,7950,-74.005301,1023,2015-02-02 23:26:00+00,2015-02-02 23:43:00+00,306,7883,40.708235,127,Barrow St & Hudson St,40.731724,-74.006744,21600,Subscriber,1977.0,1
1442,NaN,Rivington St & Ridge St,NaN,7951,-73.983299,419,2015-02-02 23:31:00+00,2015-02-02 23:38:00+00,349,7884,40.718502,473,Rivington St & Chrystie St,40.721101,-73.991925,18791,Subscriber,1986.0,1
1443,NaN,W 49 St & 8 Ave,NaN,7952,-73.987882,1429,2015-02-02 23:32:00+00,2015-02-02 23:55:00+00,450,7885,40.762272,358,Christopher St & Greenwich St,40.732916,-74.007114,17730,Subscriber,1966.0,1
1444,NaN,Pershing Square North,NaN,7953,-73.977706,676,2015-02-02 23:32:00+00,2015-02-02 23:44:00+00,519,7886,40.751873,477,W 41 St & 8 Ave,40.756405,-73.990026,18147,Subscriber,1980.0,1
1445,NaN,E 30 St & Park Ave S,NaN,7954,-73.983035,879,2015-02-02 23:33:00+00,2015-02-02 23:48:00+00,546,7887,40.744449,489,10 Ave & W 28 St,40.750664,-74.001768,20249,Subscriber,1959.0,1
1446,NaN,Sullivan St & Washington Sq,NaN,7955,-73.999061,593,2015-02-02 23:35:00+00,2015-02-02 23:45:00+00,336,7888,40.730477,432,E 7 St & Avenue A,40.726218,-73.983799,18078,Subscriber,1988.0,1
1447,NaN,W 42 St & 8 Ave,NaN,7956,-73.990985,839,2015-02-02 23:36:00+00,2015-02-02 23:50:00+00,529,7889,40.757570,164,E 47 St & 2 Ave,40.753231,-73.970325,16808,Subscriber,1983.0,1
1448,NaN,Broadway & E 22 St,NaN,7957,-73.989551,560,2015-02-02 23:37:00+00,2015-02-02 23:46:00+00,402,7890,40.740343,368,Carmine St & 6 Ave,40.730386,-74.002150,21355,Subscriber,1986.0,1
1449,NaN,1 Ave & E 15 St,NaN,7958,-73.981656,165,2015-02-02 23:37:00+00,2015-02-02 23:40:00+00,504,7891,40.732219,511,E 14 St & Avenue B,40.729387,-73.977724,15359,Subscriber,1994.0,1
1450,NaN,9 Ave & W 22 St,NaN,7960,-74.001971,764,2015-02-02 23:42:00+00,2015-02-02 23:55:00+00,509,7893,40.745497,507,E 25 St & 2 Ave,40.739126,-73.979738,16969,Subscriber,1987.0,1
1451,NaN,6 Ave & W 33 St,NaN,7959,-73.988484,813,2015-02-02 23:42:00+00,2015-02-02 23:56:00+00,505,7892,40.749013,489,10 Ave & W 28 St,40.750664,-74.001768,18250,Subscriber,1982.0,2
1452,NaN,E 10 St & 5 Ave,NaN,7962,-73.995101,518,2015-02-02 23:43:00+00,2015-02-02 23:52:00+00,280,7895,40.733320,439,E 4 St & 2 Ave,40.726281,-73.989780,19000,Subscriber,1983.0,1
1453,NaN,E 16 St & 5 Ave,NaN,7961,-73.992390,2111,2015-02-02 23:43:00+00,2015-02-03 00:18:00+00,496,7894,40.737262,397,Fulton St & Clermont Ave,40.684157,-73.969223,18825,Subscriber,1979.0,1
1454,NaN,W 44 St & 5 Ave,NaN,7963,-73.980144,371,2015-02-02 23:45:00+00,2015-02-02 23:52:00+00,484,7896,40.755003,440,E 45 St & 3 Ave,40.752554,-73.972826,20723,Subscriber,1977.0,1
1455,NaN,Spruce St & Nassau St,NaN,7964,-74.005524,188,2015-02-02 23:47:00+00,2015-02-02 23:50:00+00,224,7897,40.711464,417,Barclay St & Church St,40.712912,-74.010202,16528,Subscriber,1988.0,1
1456,NaN,W 13 St & 6 Ave,NaN,7965,-73.997044,689,2015-02-02 23:50:00+00,2015-02-03 00:02:00+00,345,7898,40.736494,394,E 9 St & Avenue C,40.725213,-73.977688,16541,Subscriber,1988.0,1
1457,NaN,W 22 St & 8 Ave,NaN,7966,-73.999154,634,2015-02-02 23:55:00+00,2015-02-03 00:05:00+00,453,7899,40.744751,537,Lexington Ave & E 24 St,40.740259,-73.984092,14878,Subscriber,1961.0,1
1458,NaN,Broadway & E 14 St,NaN,7967,-73.990741,733,2015-02-02 23:58:00+00,2015-02-03 00:10:00+00,285,7900,40.734546,302,Avenue D & E 3 St,40.720828,-73.977932,16326,Subscriber,1976.0,2

In [8]:
# Trips that started on the weekends
task2B = '''
SELECT * FROM citibike
WHERE starttime<='2/2/2015' OR starttime>='2/7/2015'
ORDER BY starttime
'''
table2B = pd.read_csv(StringIO.StringIO(queryCartoDB(task2B)), sep=',')
table2B

,the_geom,start_station_name,the_geom_webmercator,field_1,start_station_longitude,tripduration,starttime,stoptime,start_station_id,cartodb_id,start_station_latitude,end_station_id,end_station_name,end_station_latitude,end_station_longitude,bikeid,usertype,birth_year,gender
0,NaN,8 Ave & W 31 St,NaN,70,-73.994811,801,2015-02-01 00:00:00+00,2015-02-01 00:14:00+00,521,1,40.750450,423,W 54 St & 9 Ave,40.765849,-73.986905,17131,Subscriber,1978.0,2
1,NaN,E 17 St & Broadway,NaN,71,-73.990093,379,2015-02-01 00:00:00+00,2015-02-01 00:07:00+00,497,2,40.737050,504,1 Ave & E 15 St,40.732219,-73.981656,21289,Subscriber,1993.0,1
2,NaN,Grand Army Plaza & Central Park S,NaN,72,-73.973715,2474,2015-02-01 00:01:00+00,2015-02-01 00:42:00+00,281,3,40.764397,127,Barrow St & Hudson St,40.731724,-74.006744,18903,Subscriber,1969.0,2
3,NaN,Lawrence St & Willoughby St,NaN,74,-73.986317,544,2015-02-01 00:01:00+00,2015-02-01 00:10:00+00,323,5,40.692362,83,Atlantic Ave & Fort Greene Pl,40.683826,-73.976323,19868,Subscriber,1957.0,1
4,NaN,6 Ave & Broome St,NaN,73,-74.004704,818,2015-02-01 00:01:00+00,2015-02-01 00:15:00+00,2004,4,40.724399,505,6 Ave & W 33 St,40.749013,-73.988484,21044,Subscriber,1985.0,2
5,NaN,Willoughby Ave & Walworth St,NaN,75,-73.953820,717,2015-02-01 00:02:00+00,2015-02-01 00:14:00+00,373,6,40.693317,2002,Wythe Ave & Metropolitan Ave,40.716887,-73.963198,15854,Subscriber,1979.0,1
6,NaN,W 56 St & 6 Ave,NaN,76,-73.977225,1306,2015-02-01 00:04:00+00,2015-02-01 00:26:00+00,352,7,40.763406,504,1 Ave & E 15 St,40.732219,-73.981656,15173,Subscriber,1983.0,1
7,NaN,Washington Pl & Broadway,NaN,78,-73.994046,759,2015-02-01 00:04:00+00,2015-02-01 00:17:00+00,335,9,40.729039,2012,E 27 St & 1 Ave,40.739445,-73.976806,21183,Subscriber,1985.0,2
8,NaN,E 4 St & 2 Ave,NaN,77,-73.989780,913,2015-02-01 00:04:00+00,2015-02-01 00:19:00+00,439,8,40.726281,116,W 17 St & 8 Ave,40.741776,-74.001497,17862,Subscriber,1955.0,1
9,NaN,Greenwich Ave & 8 Ave,NaN,79,-74.002638,585,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,10,40.739017,444,Broadway & W 24 St,40.742354,-73.989151,14843,Subscriber,1982.0,1
10,NaN,Broadway & W 32 St,NaN,81,-73.988084,204,2015-02-01 00:05:00+00,2015-02-01 00:08:00+00,498,12,40.748549,472,E 32 St & Park Ave,40.745712,-73.981948,21507,Subscriber,1991.0,2
11,NaN,Greenwich Ave & 8 Ave,NaN,80,-74.002638,581,2015-02-01 00:05:00+00,2015-02-01 00:15:00+00,284,11,40.739017,444,Broadway & W 24 St,40.742354,-73.989151,16936,Subscriber,1988.0,2
12,NaN,E 11 St & 1 Ave,NaN,83,-73.984267,419,2015-02-01 00:07:00+00,2015-02-01 00:14:00+00,326,14,40.729538,2012,E 27 St & 1 Ave,40.739445,-73.976806,14679,Subscriber,1990.0,2
13,NaN,Carmine St & 6 Ave,NaN,82,-74.002150,1169,2015-02-01 00:07:00+00,2015-02-01 00:27:00+00,368,13,40.730386,307,Canal St & Rutgers St,40.714275,-73.989900,17456,Subscriber,1982.0,2
14,NaN,Broadway & E 14 St,NaN,84,-73.990741,527,2015-02-01 00:09:00+00,2015-02-01 00:17:00+00,285,15,40.734546,212,W 16 St & The High Line,40.743349,-74.006818,18978,Subscriber,1977.0,1
15,NaN,Carmine St & 6 Ave,NaN,85,-74.002150,1013,2015-02-01 00:10:00+00,2015-02-01 00:27:00+00,368,16,40.730386,488,W 39 St & 9 Ave,40.756458,-73.993722,16496,Subscriber,1968.0,1
16,NaN,E 11 St & 1 Ave,NaN,87,-73.984267,525,2015-02-01 00:13:00+00,2015-02-01 00:22:00+00,326,18,40.729538,507,E 25 St & 2 Ave,40.739126,-73.979738,16984,Subscriber,1987.0,1
17,NaN,E 9 St & Avenue C,NaN,86,-73.977688,587,2015-02-01 00:13:00+00,2015-02-01 00:23:00+00,394,17,40.725213,331,Pike St & Monroe St,40.711731,-73.991930,17107,Subscriber,1990.0,1
18,NaN,W 45 St & 6 Ave,NaN,88,-73.982912,670,2015-02-01 00:14:00+00,2015-02-01 00:26:00+00,493,19,40.756800,305,E 58 St & 3 Ave,40.760958,-73.967245,15997,Subscriber,1980.0,1
19,NaN,E 10 St & Avenue A,NaN,89,-73.981420,711,2015-02-01 00:15:00+00,2015-02-01 00:27:00+00,445,20,40.727408,223,W 13 St & 7 Ave,40.737815,-73.999947,21516,Subscriber,1960.0,1
20,NaN,E 25 St & 2 Ave,NaN,93,-73.979738,389,2015-02-01 00:16:00+00,2015-02-01 00:23:00+00,507,24,40.739126,518,E 39 St & 2 Ave,40.747804,-73.973442,16391,Subscriber,1957.0,1
21,NaN,E 48 St & 3 Ave,NaN,91,-73.971879,683,2015-02-01 00:16:00+00,2015-02-01 00:27:00+00,228,22,40.754601,477,W 41 St & 8 Ave,40.756405,-73.990026,18727,Subscriber,1987.0,1
22,NaN,E 3 St & 1 Ave,NaN,90,-73.987834,1559,2015-02-01 00:16:00+00,2015-02-01 00:42:00+00,428,21,40.724677,457,Broadway & W 58 St,40.766953,-73.981693,15815,Subscriber,1986.0,1
23,NaN,E 4 St & 2 Ave,NaN,94,-73.989780,276,2015-02-01 00:16:00+00,2015-02-01 00:21:00+00,439,25,40.726281,473,Rivington St & Chrystie St,40.721101,-73.991925,15947,Subscriber,1981.0,1
24,NaN,W 56 St & 10 Ave,NaN,92,-73.988639,522,2015-02-01 00:16:00+00,2015-02-01 00:24:00+00,513,23,40.768254,488,W 39 St & 9 Ave,40.756458,-73.993722,14982,Subscriber,1969.0,1
25,NaN,MacDougal St & Prince St,NaN,95,-74.002971,907,2015-02-01 00:17:00+00,2015-02-01 00:32:00+00,128,26,40.727103,531,Forsyth St & Broome St,40.718939,-73.992663,16917,Subscriber,1993.0,1
26,NaN,Clinton St & Grand St,NaN,97,-73.987030,144,2015-02-01 00:18:00+00,2015-02-01 00:21:00+00,350,28,40.715595,502,Henry St & Grand St,40.714215,-73.981346,21321,Subscriber,1973.0,1
27,NaN,8 Ave & W 33 St,NaN,96,-73.993934,946,2015-02-01 00:18:00+00,2015-02-01 00:33:00+00,490,27,40.751551,528,2 Ave & E 31 St,40.742909,-73.977061,15924,Subscriber,1975.0,1
28,NaN,Lafayette St & Jersey St,NaN,98,-73.995653,257,2015-02-01 00:19:00+00,2015-02-01 00:23:00+00,250,29,40.724561,401,Allen St & Rivington St,40.720196,-73.989978,16861,Subscriber,1973.0,2
29,NaN,1 Ave & E 15 St,NaN,99,-73.981656,602,2015-02-01 00:20:00+00,2015-02-01 00:30:00+00,504,30,40.732219,411,E 6 St & Avenue D,40.722281,-73.976687,21289,Subscriber,1977.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13201,NaN,Washington Pl & Broadway,NaN,46170,-73.994046,812,2015-02-07 23:51:00+00,2015-02-08 00:05:00+00,335,46171,40.729039,435,W 21 St & 6 Ave,40.741740,-73.994156,15733,Subscriber,1988.0,1
13202,NaN,Allen St & Hester St,NaN,46171,-73.991908,647,2015-02-07 23:51:00+00,2015-02-08 00:02:00+00,361,46172,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,16931,Subscriber,1995.0,1
13203,NaN,Warren St & Church St,NaN,46172,-74.009106,563,2015-02-07 23:51:00+00,2015-02-08 00:00:00+00,152,46173,40.714740,401,Allen St & Rivington St,40.720196,-73.989978,17202,Subscriber,1987.0,1
13204,NaN,E 12 St & 3 Ave,NaN,46173,-73.988900,470,2015-02-07 23:51:00+00,2015-02-07 23:59:00+00,483,46174,40.732233,439,E 4 St & 2 Ave,40.726281,-73.989780,20314,Subscriber,1989.0,2
13205,NaN,Dean St & 4 Ave,NaN,46174,-73.978951,299,2015-02-07 23:51:00+00,2015-02-07 23:56:00+00,467,46175,40.683125,395,Bond St & Schermerhorn St,40.688070,-73.984106,21531,Subscriber,1989.0,1
13206,NaN,Allen St & Hester St,NaN,46175,-73.991908,629,2015-02-07 23:52:00+00,2015-02-08 00:02:00+00,361,46176,40.716059,504,1 Ave & E 15 St,40.732219,-73.981656,21491,Subscriber,1968.0,1
13207,NaN,Broadway & E 22 St,NaN,46176,-73.989551,499,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,402,46177,40.740343,380,W 4 St & 7 Ave S,40.734011,-74.002939,15367,Subscriber,1990.0,1
13208,NaN,Washington Pl & 6 Ave,NaN,46177,-74.000264,474,2015-02-07 23:52:00+00,2015-02-08 00:00:00+00,369,46178,40.732241,368,Carmine St & 6 Ave,40.730386,-74.002150,18978,Subscriber,1973.0,2
13209,NaN,E 31 St & 3 Ave,NaN,46178,-73.979661,345,2015-02-07 23:52:00+00,2015-02-07 23:58:00+00,476,46179,40.743943,504,1 Ave & E 15 St,40.732219,-73.981656,19507,Subscriber,1980.0,1
13210,NaN,Carmine St & 6 Ave,NaN,46180,-74.002150,776,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,368,46181,40.730386,531,Forsyth St & Broome St,40.718939,-73.992663,18689,Subscriber,1982.0,1
13211,NaN,Broadway & W 60 St,NaN,46179,-73.981918,829,2015-02-07 23:53:00+00,2015-02-08 00:07:00+00,499,46180,40.769155,160,E 37 St & Lexington Ave,40.748238,-73.978311,16936,Subscriber,1980.0,1
13212,NaN,W 52 St & 5 Ave,NaN,46181,-73.976485,697,2015-02-07 23:53:00+00,2015-02-08 00:05:00+00,520,46182,40.759923,478,11 Ave & W 41 St,40.760301,-73.998842,15781,Subscriber,1972.0,1
13213,NaN,Dean St & 4 Ave,NaN,46182,-73.978951,1703,2015-02-07 23:54:00+00,2015-02-08 00:23:00+00,467,46183,40.683125,471,Grand St & Havemeyer St,40.712868,-73.956981,15081,Subscriber,1988.0,1
13214,NaN,9 Ave & W 45 St,NaN,46183,-73.991255,922,2015-02-07 23:54:00+00,2015-02-08 00:10:00+00,479,46184,40.760193,247,Perry St & Bleecker St,40.735354,-74.004831,21672,Subscriber,1983.0,1
13215,NaN,Broadway & W 58 St,NaN,46184,-73.981693,849,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46185,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,16336,Subscriber,1970.0,1
13216,NaN,Broadway & W 58 St,NaN,46185,-73.981693,826,2015-02-07 23:54:00+00,2015-02-08 00:08:00+00,457,46186,40.766953,488,W 39 St & 9 Ave,40.756458,-73.993722,21609,Subscriber,1973.0,1
13217,NaN,Watts St & Greenwich St,NaN,46186,-74.009660,473,2015-02-07 23:54:00+00,2015-02-08 00:02:00+00,328,46187,40.724055,3002,South End Ave & Liberty St,40.711512,-74.015756,19470,Subscriber,1964.0,1
13218,NaN,W 51 St & 6 Ave,NaN,46187,-73.980420,332,2015-02-07 23:54:00+00,2015-02-07 23:59:00+00,510,46188,40.760660,450,W 49 St & 8 Ave,40.762272,-73.987882,18167,Subscriber,1960.0,1
13219,NaN,W 11 St & 6 Ave,NaN,46189,-73.998004,327,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,254,46190,40.735324,466,W 25 St & 6 Ave,40.743954,-73.991449,17541,Subscriber,1983.0,1
13220,NaN,University Pl & E 14 St,NaN,46188,-73.992005,456,2015-02-07 23:55:00+00,2015-02-08 00:03:00+00,382,46189,40.734927,404,9 Ave & W 14 St,40.740583,-74.005509,15929,Subscriber,1987.0,1
13221,NaN,W 17 St & 8 Ave,NaN,46190,-74.001497,306,2015-02-07 23:55:00+00,2015-02-08 00:01:00+00,116,46191,40.741776,494,W 26 St & 8 Ave,40.747348,-73.997236,14736,Subscriber,1983.0,2
13222,NaN,Warren St & Church St,NaN,46192,-74.009106,1165,2015-02-07 23:56:00+00,2015-02-08 00:15:00+00,152,46193,40.714740,325,E 19 St & 3 Ave,40.736245,-73.984738,16978,Subscriber,1959.0,1
13223,NaN,E 20 St & 2 Ave,NaN,46193,-73.982050,993,2015-02-07 23:56:00+00,2015-02-08 00:13:00+00,461,46194,40.735877,295,Pike St & E Broadway,40.714067,-73.992939,16722,Subscriber,1974.0,1
13224,NaN,W 47 St & 10 Ave,NaN,46191,-73.993012,1248,2015-02-07 23:56:00+00,2015-02-08 00:17:00+00,495,46192,40.762699,432,E 7 St & Avenue A,40.726218,-73.983799,16300,Subscriber,1984.0,1
13225,NaN,1 Ave & E 44 St,NaN,46194,-73.969053,1422,2015-02-07 23:57:00+00,2015-02-08 00:20:00+00,455,46195,40.750020,265,Stanton St & Chrystie St,40.722293,-73.991475,20184,Subscriber,1960.0,2
13226,NaN,W 20 St & 8 Ave,NaN,46195,-74.000040,689,2015-02-07 23:57:00+00,2015-02-08 00:08:00+00,470,46196,40.743453,325,E 19 St & 3 Ave,40.736245,-73.984738,15585,Subscriber,1953.0,1
13227,NaN,5 Ave & E 29 St,NaN,46197,-73.986831,392,2015-02-07 23:57:00+00,2015-02-08 00:03:00+00,474,46198,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,15545,Subscriber,1986.0,1
13228,NaN,5 Ave & E 29 St,NaN,46196,-73.986831,428,2015-02-07 23:57:00+00,2015-02-08 00:04:00+00,474,46197,40.745168,325,E 19 St & 3 Ave,40.736245,-73.984738,16395,Subscriber,1986.0,2
13229,NaN,Carmine St & 6 Ave,NaN,46198,-74.002150,548,2015-02-07 23:58:00+00,2015-02-08 00:08:00+00,368,46199,40.730386,334,W 20 St & 7 Ave,40.742388,-73.997262,19540,Subscriber,1983.0,2
13230,NaN,E 4 St & 2 Ave,NaN,46199,-73.989780,917,2015-02-07 23:59:00+00,2015-02-08 00:15:00+00,439,46200,40.726281,417,Barclay St & Church St,40.712912,-74.010202,20998,Subscriber,1965.0,2

In [9]:
# Average trip duration for trips during the weekends
task2C = '''
SELECT AVG(tripduration) FROM citibike
WHERE starttime<='2/2/2015' OR starttime>='2/7/2015'
'''
table2C = pd.read_csv(StringIO.StringIO(queryCartoDB(task2C)), sep=',')
table2C

          avg  Unnamed: 1
0  662.942181         NaN

In [10]:
# Average trip duration for trips during the weekdays
task2C = '''
SELECT AVG(tripduration) FROM citibike
WHERE starttime>='2/2/2015' AND starttime<'2/7/2015'
'''
table2C = pd.read_csv(StringIO.StringIO(queryCartoDB(task2C)), sep=',')
table2C

          avg  Unnamed: 1
0  681.052292         NaN

# Task 3 - Working with Space

In [11]:
# Show the list of start station locations
task3A = '''
SELECT start_station_name FROM citibike
GROUP BY start_station_name
'''
table3A = pd.read_csv(StringIO.StringIO(queryCartoDB(task3A)), sep=',')
table3A

                start_station_name  Unnamed: 1
0             E 30 St & Park Ave S         NaN
1          Pearl St & Anchorage Pl         NaN
2                  W 56 St & 6 Ave         NaN
3                   West Thames St         NaN
4          Bank St & Washington St         NaN
5                  8 Ave & W 52 St         NaN
6               E 11 St & Broadway         NaN
7         DeKalb Ave & Skillman St         NaN
8    Atlantic Ave & Fort Greene Pl         NaN
9                Avenue D & E 8 St         NaN
10            S 3 St & Bedford Ave         NaN
11          W Broadway & Spring St         NaN
12                 2 Ave & E 31 St         NaN
13                 E 33 St & 5 Ave         NaN
14        MacDougal St & Prince St         NaN
15    Clermont Ave & Lafayette Ave         NaN
16          Barclay St & Church St         NaN
17          Forsyth St & Broome St         NaN
18                 W 13 St & 6 Ave         NaN
19                 W 17 St & 8 Ave         NaN
20              E 20 St & Park Ave         NaN
21               E 2 St & Avenue B         NaN
22                 E 33 St & 2 Ave         NaN
23                 W 18 St & 6 Ave         NaN
24             Old Slip & Front St         NaN
25        Willoughby Ave & Hall St         NaN
26                 1 Ave & E 44 St         NaN
27                 W 20 St & 7 Ave         NaN
28           West St & Chambers St         NaN
29                 E 43 St & 2 Ave         NaN
..                             ...         ...
297               12 Ave & W 40 St         NaN
298        Centre St & Chambers St         NaN
299          Pershing Square South         NaN
300                W 33 St & 7 Ave         NaN
301         Hicks St & Montague St         NaN
302        University Pl & E 14 St         NaN
303        Fulton St & Rockwell Pl         NaN
304    Lafayette Ave & St James Pl         NaN
305        Emerson Pl & Myrtle Ave         NaN
306                E 56 St & 3 Ave         NaN
307        Watts St & Greenwich St         NaN
308                W 44 St & 5 Ave         NaN
309                6 Ave & W 33 St         NaN
310              E 9 St & Avenue C         NaN
311               11 Ave & W 59 St         NaN
312        W 16 St & The High Line         NaN
313          Howard St & Centre St         NaN
314                2 Ave & E 58 St         NaN
315              E 5 St & Avenue C         NaN
316       Fulton St & Clermont Ave         NaN
317    Cadman Plaza E & Tillary St         NaN
318      Pearl St & Hanover Square         NaN
319          LaGuardia Pl & W 3 St         NaN
320                5 Ave & E 29 St         NaN
321                W 21 St & 6 Ave         NaN
322   Wythe Ave & Metropolitan Ave         NaN
323                W 11 St & 6 Ave         NaN
324            St Marks Pl & 1 Ave         NaN
325                W 22 St & 8 Ave         NaN
326         Railroad Ave & Kay Ave         NaN

[327 rows x 2 columns]

In [12]:
# Show the list of start station locations with the number of trips started per station 
# only for stations within 500m of Times Square
task3B = '''
SELECT start_station_name, COUNT(tripduration) FROM citibike
WHERE ACOS(SIN(RADIANS(start_station_latitude))*SIN(RADIANS(40.7577))
+COS(RADIANS(start_station_latitude))*COS(RADIANS(40.7577))*COS(RADIANS(start_station_longitude-(-73.9857))))*6371<=0.5
GROUP BY start_station_name
ORDER BY start_station_name ASC
'''
table3B = pd.read_csv(StringIO.StringIO(queryCartoDB(task3B)), sep=',')
table3B

   start_station_name  count
0  Broadway & W 41 St    251
1  Broadway & W 49 St    213
2     W 41 St & 8 Ave    507
3     W 42 St & 8 Ave    221
4     W 43 St & 6 Ave    112
5     W 45 St & 6 Ave    141
6     W 45 St & 8 Ave    141

# Task 4 - Putting it all together

In [13]:
# Find the station with the longest average trip duration during weekends and within 500m of Times Square
task4A = '''
SELECT start_station_name, COUNT(tripduration), AVG(tripduration) FROM citibike
WHERE ACOS(SIN(RADIANS(start_station_latitude))*SIN(RADIANS(40.7577))
+COS(RADIANS(start_station_latitude))*COS(RADIANS(40.7577))*COS(RADIANS(start_station_longitude-(-73.9857))))*6371<=0.5
AND (starttime<='2/2/2015' OR starttime>='2/7/2015')
GROUP BY start_station_name
ORDER BY AVG(tripduration) DESC
LIMIT 1
'''
table4A = pd.read_csv(StringIO.StringIO(queryCartoDB(task4A)), sep=',')
table4A

   start_station_name  count          avg
0  Broadway & W 49 St     48  1010.104167